/.idea
*.sock
*.log
*.gz
*.tgz
*.bz2
*.tbz
/tmp
/js/jssor.carousel.slider.for.bootstrap.example
/js/Jssor.Slider.FullPack
/js/simpleStorage-master
/php/aerospike/examples
/php/ihuyi.sms
/php/passport
/php/passport.api
/php/phar/target
/php/session/data
/php/swoole/swoole-ide-helper
/php/workerman-master
/php/yaf
/php/yeepay-yjpayapi-php-demo
/phpStorm
/ssl
/ignore
